:root {
    --cor0: #5E80DB;
    --cor1: #5ECFDB;
    --cor2: #5EA7DB;
    --cor3: #5EDBBE;


}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Pode alterar o peso conforme preferir (400, 500, 600) */
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.header {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    padding: 40px 0;
    text-decoration: none;
    
}

.header li {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
    
}