@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

:root {

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
}

header {
    
}